.header-image {
  background-image: url('../../../assets/ico/kyocera.jpg');
  background-size: cover;
  margin-bottom: 10px;
}

.header-green {
  background-color: lightgreen;
  background-size: cover;
  margin: 100px;
}

.header-red {
  background-color: lightcoral;
  background-size: cover;
  margin-bottom: 10px;
}

.row-icon-margin {
  margin-bottom: 10px;
}

.row-link-margin {
  margin-top: 15px;
  margin-left: 15px;
}

.row-link {
  color: principal;
}
